@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #262525 ;
    
}

@font-face {
    font-family: "droid";
    src: url("../public/fonts/droid.ttf");
}

@font-face {
    font-family: "NeueWorld-CondensedRegular";
    src: url("../public/fonts/NeueWorldCondensedRegular.otf");
}